<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"> 
    <title>Zafary</title>
</head>
<body>
  <section class="container-principal">
        <div class="container-head">
        <h2>Zafary</h2>
        </div>
    <section class="container-secu">
      <section class="aside">
        <ul>
          <section class="home">
            <li><a href="#"><i class=" icono izq fas fa-home"></i>Home</a></li>    
          </section>
        <section class="wzp">
          <li><a href="#"><i class="icono fab fa-whatsapp-square"></i>WhatzApp</a></li>
        </section>
          <section class="zpoti">
            <li><a href="#"><i class="icono fab fa-spotify"></i>Zpotify</a></li>
          </section>
          
        </ul>  
      </section>
        <section class="container-sub">
        
        
        </section>         
    </section>
  </section>
</body>
</html>